/* .header{position: relative;
    width: 100%;
    }
    
    .header-inner{position: absolute;
    top: 0;
    left: 0;
    width:100%;
    z-index: 99;
    } */
/* background-color: #0A192F; */
/* background-color: #223A5E !important; */
    /* .navbar-scroll{
        background-color: #0A192F;
        
        background: linear-gradient(45deg, #303f9f,#7b1fa2) !important;
        padding: 0;
        position: fixed;
        top:0;
        z-index: 99;
        box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 12px -5px rgb(156 39 176 / 46%) !important;
        transition-duration: 0.6s; }
        
        .navbar-scroll .nav-item .nav-link{
            color: #fff  !important;
        }

        
           
        } */
        .nav-link:hover{
            font-weight: bold;
            color: #64ffda !important;
        }
        .footer-color{
            background: linear-gradient(45deg,#7b1fa2, #303f9f) !important;
        }