body {
  margin: 0;
  /* background-color: #2A2C39; */
  background-color: #0A192F;
  /* background-color: #FEEAF3; */
  font-family: 'Baloo Bhaijaan 2', cursive;
  overflow-x: hidden;

  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','rambla',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
