.img-hover:hover{
    transition: 1s ease;
    transform: scale(1.1) translateY(-15%);
}


.custom-border {
    border: 1px solid #764abc !important;
    /* border-radius: 10px; */
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
      0 7px 12px -5px rgb(156 39 176 / 46%) !important;
      
  }


  .projectModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height:75vh;
    background-color: #112240;
    padding: 10px;
  }

  .modalWeb{
    width: 100%;
    height: 35vw;
  }
  .modalPdetails{
    z-index: 1;
    padding: 25px;
    text-align:justify;
    font-family: 'Raleway', sans-serif;
}
.modalPsection{
    text-align: right;
}

@media only screen and (max-width: 768px) {
   
.projectModal{
    width: 95%;
    height:95vh;
}
  
.modalWeb{
    width: 100%;
    height: 90vw;
  }

.modalPdetails{
    margin-left: 0;
    margin: 0;
    padding: 5px;
    padding-top: 10px;
    font-size: 14px;
}
.modalPsection{
    text-align: left;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0.5%;
}

.modalTech{
    display: none;
}
}